<!-- add_event.html -->
{% extends 'base_event.html' %}

{% block title %}Add Event{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<div class="col-md-12">
    <h2 class="mb-4">Add Event</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.event_type|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.event_date|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.event_time|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.participant_buyer|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.participant_owner|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.participant_property|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form.event_description|as_crispy_field }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Event</button>
        <a href="#" class="btn btn-secondary mt-md-0 mt-3" onclick="goBack()">Back</a>
    </form>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>

<script>
    $('#id_participant_buyer').select2();
    $('#id_participant_owner').select2();
    $('#id_participant_property').select2();
</script>
{% endblock %}
