{% extends 'base_event.html' %}

{% block title %}Add Clients wish{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div class="col-md-12">
    <h2 class="mb-4">Add Client's Wish</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.property_type|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.totalrooms|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.bedrooms|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.toilets|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.min_floor_preference|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.max_floor_preference|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.min_square_meter|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.max_square_meter|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.payment_term|as_crispy_field }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.min_price_range|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.max_price_range|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.view_sight|as_crispy_field }}
                </div>
            </div>
        </div>
        <!-- Add more fields as needed -->

        <button type="submit" class="btn btn-primary">Save Client's Wish</button>
        <a href="#" class="btn btn-secondary mt-md-0 mt-3" onclick="goBack()">Back</a>
    </form>
</div>

<script>
    function goBack() {
        window.history.back();
    }

</script>

{% endblock %}
