{% extends 'base_event.html' %}

{% block title %}Estates Solutions | Delete Property Type{% endblock %}

{% block content %}
<h2 class="container-header">Delete Property Deal Type</h2>
  <div class="container container-content">

    <p>Are you sure you want to delete the deal type "{{ deal_type.deal_type }}"?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>

    <a href="{% url 'property_status_list' %}" class="btn btn-outline-secondary">Cancel</a>
  </div>
{% endblock %}
