<!-- delete_event.html -->
{% extends 'base_event.html' %}

{% block title %}Estates Solutions | Delete Property{% endblock %}

{% block content %}
<h2 class="mb-4 container-header">Delete Property</h2>
<div class="col-md-6 container-content">
    <p>Are you sure you want to delete the property "{{ property }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Property</button>
    </form>
    <a href="#" class="btn btn-outline-secondary mt-3" onclick="goBack()">Cancel</a>
</div>
<script>
    function goBack() {
        window.history.back();
    }
    </script>
{% endblock %}
