{% extends 'base_event.html' %}

{% block title %}Estates Solutions | Delete Task Type{% endblock %}

{% block content %}
<h2 class="container-header">Delete Task Type</h2>
  <div class="container container-content">

    <p>Are you sure you want to delete the task type "{{ event_type.event_type }}"?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <a href="{% url 'event_types_list' %}" class="btn btn-outline-secondary">Cancel</a>
  </div>
{% endblock %}
