<!-- add_event.html -->
{% extends 'base_event.html' %}

{% block title %}Estates Solutions | Edit {{ client.client_name }}{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="container-header">
    <h2 class="mb-4">Edit {{ client.client_name }}</h2>
</div>
<div class="container-content">
    <div class="col-md-6 mx-auto">
        <form method="post">
            {% csrf_token %}
            <h5>General</h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.client_name.label_tag }}
                        {{ form.client_name|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.status.label_tag }}
                        {{ form.status|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.phone_number.label_tag }}
                        {{ form.phone_number|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"form-control" }}
                    </div>
                </div>
            </div>
            <hr>
            <h5>Significant life events</h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.birthday.label_tag }}
                        {{ form.birthday|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.wedding_anniversary.label_tag }}
                        {{ form.wedding_anniversary|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.home_anniversary.label_tag }}
                        {{ form.home_anniversary|add_class:"form-control" }}
                    </div>
                </div>
            </div>
            <hr>
            <h5>Social accounts</h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.facebook_url.label_tag }}
                        {{ form.facebook_url|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.instagram_url.label_tag }}
                        {{ form.instagram_url|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.twitter_url.label_tag }}
                        {{ form.twitter_url|add_class:"form-control" }}
                    </div>
                </div>
            </div>
            <div class="mt-auto" style="justify-content: center; align-items: center; margin-bottom: 10vh;">
                <button type="submit" class="btn btn-outline-primary" style="width: 100%; margin-top: 20px; ">Save Changes</button>
                <div style="height: 10px;"></div>
                <a href="#" class="btn btn-outline-secondary mt-md-0 mt-3" onclick="goBack()" style="width: 100%; margin-top: 20px; margin-bottom: 20px; ">Back</a>
            </div>
            <script>
                // Assuming you have included jQuery
                $(document).ready(function() {
                    // Create the "Add Event Type" option
                    var addEventTypeOption = $('<option>', {
                        value: 'add_client_status',
                        text: 'Add Client Status'
                    });
                    addEventTypeOption.css('color', 'grey');
                    // Append the option to the select element
                    $('#id_status').append(addEventTypeOption);
            
                    // Handle change event
                    $('#id_status').change(function() {
                        var selectedValue = $(this).val();
                        if (selectedValue === 'add_client_status') {
                            // Get the URL for 'add_event_type' using Django's URL template tag
                            var addEventTypeUrl = "{% url 'add_client_status' %}";
                            window.location.href = addEventTypeUrl;
                        }
                    });
                });
            </script>
        </form>
    </div>
</div>
<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}
