{% extends 'base_event.html' %}

{% block title %}Edit Property Type{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="container-header">
  <h1>Edit Property Type</h1>
</div>  
<div class="container-content">
  <div class="col-md-6 mx-auto">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.type.label_tag }}
          {{ form.type|add_class:"form-control" }}
        </div>
      </form>
      
      <div class="mt-auto" style="justify-content: center; align-items: center;">
        <button type="submit" class="btn btn-outline-primary" style="width: 100%; margin-top: 20px; margin-bottom: 10px;">Save Changes</button>
        <a href="#" class="btn btn-secondary mt-md-0 mt-3" onclick="goBack()" style="width: 100%; margin-top: 20px; margin-bottom: 20px;">Back</a>
    </div>
  </div>
</div>
<script>
  function goBack() {
  window.history.back();
}
</script>
{% endblock %}
