<!-- property_events.html -->
{% extends 'base_event.html' %}

{% block title %}Estates Solutions | {{ property.address }}{% endblock %}

{% block content %}
{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<div  class="row mb-3 container-header">
    <div class="col-md-8">
        <h2 >{{ property.address }}</h2>
    </div>
    <div class="col-md-4 d-flex justify-content-end page-actions" >
        <button class="btn btn-outline-primary mr-2"
                style="margin-right: 5px;"
                onclick="deleteProperty({{ property.id }})">
                <span class="button-text">Delete</span> <i class="fas fa-trash"></i>
        </button>

        <button class="btn btn-outline-primary mr-2" 
                style="margin-right: 5px;" 
                onclick="showProperty('{{ user.username }}', {{ property.id }}, '{{ property.address }}')">
                <span class="button-text">Link</span> <i class="fas fa-link"></i>
        </button>

        <button class="btn btn-outline-primary" 
                onclick="editProperty({{ property.id }})">
                <span class="button-text">Edit</span> <i class="fas fa-edit"></i>
        </button>
    </div>
    <script>
        function deleteProperty(propertyId) {
            window.location.href = '/crm/properties/delete/' + propertyId + '/' ;
        }
    
        function showProperty(username, propertyId, address) {
            // Assuming you want to navigate to the show property page
            // Replace the following line with your actual navigation logic
            window.location.href = '/suggested_properties/show_properties/' + username + '/' + propertyId + '/' + address + '/';
        }
    
        function editProperty(propertyId) {
            // Assuming you want to navigate to the edit property page
            // Replace the following line with your actual navigation logic
            window.location.href = '/crm/properties/edit/' + propertyId + '/';
        }
    </script>
    
</div>

<div class="col-md-12 container-content">
    <div class="col-md-12">
        <div style="height: 5vh;"></div>
        <h5 class="mb-4" style="text-align: center;">Tasks List</h5>
        <table id="eventsTable" class="display">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Completed</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.event_type }}</td>
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.event_description }}</td>
                        <td>{{ event.is_completed }}</td>
                        <td>
                            <a href="{% url 'edit_event' event.id %}" class="btn btn-outline-primary">
                                <i class="material-icons">edit</i> 
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <hr style="margin-top: 10px; margin-bottom: 10px;">
    <!-- client_events.html -->
    <h5 style="text-align: center;">Client List</h5>
    <table id = 'clientlist' class="display">
        <thead>
            <tr>
                <th>Client</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Suggestion</th>
                <th>Interested</th>
            </tr>
        </thead>
        <tbody>
            {% for suggest in suggestions %}
                <tr>
                    <td>
                        <a href="{% url 'client_events' client_id=suggest.client.id %}">
                            {{ suggest.client.client_name }}
                        </a>
                    </td>
                    <td>
                        <a href="tel:{{ suggest.client.phone_number }}">{{ suggest.client.phone_number }}</a>
                        
                    </td>
                    <td>
                        {% if suggest.client.email %}
                            <a onclick="sendEmail('{{ suggest.client.email }}');" title="Send mail to {{ suggest.client.email }}" style="cursor: pointer;">
                                &#x1F4E7; <!-- Email icon -->
                                {{ suggest.client.email }}
                            </a>
                        {% else %}
                            {{ suggest.client.email }}
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" action="{% url 'property_events' property_id=property.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="suggestion_id" value="{{ suggest.id }}">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary {% if suggest.is_suggested == 'suggested' %}active{% endif %} not-selected" onclick="updateSuggestion('suggested', {{ suggest.id }})">
                                    <i class="material-icons">thumb_up</i>
                                </button>
                                <button type="button" class="btn btn-outline-secondary {% if suggest.is_suggested == 'not_suggested' %}active{% endif %} not-selected" onclick="updateSuggestion('not_suggested', {{ suggest.id }})">
                                    <i class="material-icons">thumb_down</i>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td style="{% if suggest.is_interested == 'interested' %}font-weight: bold; color: green;{% endif %}">
                        {{ suggest.get_is_interested_display }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function sendEmail(email) {
            var subject = '{{ property.address }}';
            var template = `Check out this property:\n[Link to Property]("https://estates.solutions/suggested_properties/show_properties/{{ user.username }}/{{ property.id }}/{{ property.address }}")\n\nClick the link above to view more details and photos.\n\nRegards,\nThe Estates Team`;
            var encodedBody = encodeURIComponent(template);
            var mailtoLink = 'mailto:' + email + '?subject=' + subject + '&body=' + encodedBody;
            window.open(mailtoLink, '_blank');
            }
    </script>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    function updateSuggestion(value, suggestionId) {
        var opposite_value = (value === 'suggested') ? 'not_suggested' : 'suggested';
        $.ajax({
            type: 'POST',
            url: '{% url "update_suggestion" %}',  // Replace with your Django URL for updating suggestions
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                suggestion_id: suggestionId,
                is_suggested: value
            },
            success: function (data) {
                    // Update the button states based on the received data
                    var buttons = $('[onclick*="updateSuggestion(\'' + opposite_value + '\', ' + suggestionId + ')"]');
                    buttons.removeClass('active');  // Remove active class from all buttons
    
                    var button = $('[onclick*="updateSuggestion(\'' + value + '\', ' + suggestionId + ')"]');
                    button.addClass('active');  // Add active class to the clicked button
                },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Error:', errorThrown);
            }
        });
    }
</script>
<script>
    jQuery.noConflict();
    jQuery(document).ready(function($) {
        // Your DataTables initialization code here
        $('#eventsTable').DataTable();
    });
</script>

<script>
    jQuery.noConflict();
    jQuery(document).ready(function($) {
        // Your DataTables initialization code here
        $('#clientlist').DataTable({
            autoWidth:true,
            responsive: {
                details: {
                    type: 'column',
                    target: 'td:not(:last-child)'
                }
            },
            columnDefs: [
                {
                    className: 'd-none d-sm-table-cell', // Hide on small screens
                    targets: [3] // Adjust column indices based on your table structure
                }
            ]
        });
    });
</script>

{% endblock %}
