<!-- property_events.html -->
{% extends 'base_event.html' %}

{% block title %}{{ property.address }}{% endblock %}

{% block content %}
{% load widget_tweaks %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<div class="col-md-12">
    <div  class="row">
        <h2 class="col-md-10">{{ property.address }}</h2>
        
        <!-- <a class="col-md-1 btn btn-outline-primary d-flex align-items-center justify-content-center" style="width: 200px;" href="{% url 'edit_property' property.id %}">
            Edit property<i class="material-icons mr-2">edit</i> 
        </a> -->
        <div class="col-md-2 d-flex justify-content-end" >
            <a class="col-md-2 btn btn-outline-primary d-flex align-items-center justify-content-center" style="width: 200px; margin-right: 10px;" href="{% url 'show_property' user=user.username id=property.id address=property.address%}">
                <i class="material-icons mr-2">web</i> Show Property Link
            </a>
            <br>
            <a class="col-md-2 btn btn-outline-primary d-flex align-items-center justify-content-center" style="width: 200px;" href="{% url 'edit_property' property.id %}">
                <i class="material-icons mr-2">edit</i> Edit property
            </a>
        </div>
    </div>
    
    <div class="col-md-12">
        <h2 class="mb-4">Event List</h2>
        <table id="eventsTable" class="display">
            <thead>
                <tr>
                    <th>Event Type</th>
                    <th>Event Date</th>
                    <th>Event Description</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.event_type }}</td>
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.event_description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<!-- client_events.html -->
<div class="col-md-12">
    <h1>Client List</h1>
    <table id = 'clientlist' class="display">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Phone Number</th>
                <th>Suggestion</th>
                <th>Is Interested</th>
            </tr>
        </thead>
        <tbody>
            {% for suggest in suggestions %}
                <tr>
                    <td>{{ suggest.client.client_name }}</td>
                    <td>{{ suggest.client.phone_number }}</td>
                    <td>
                        <form method="post" action="{% url 'property_events' property_id=property.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="suggestion_id" value="{{ suggest.id }}">
                            <div class="btn-group">
                                <button type="submit" name="is_suggested" value="suggested" class="btn btn-outline-primary {% if suggest.is_suggested == 'suggested' %}active{% endif %}">Suggested</button>
                                <button type="submit" name="is_suggested" value="not_suggested" class="btn btn-outline-primary {% if suggest.is_suggested == 'not_suggested' %}active{% endif %}">Not Suggested</button>
                            </div>
                        </form>
                    </td>
                    <td style="{% if suggest.is_interested == 'interested' %}font-weight: bold; color: green;{% endif %}">
                        {{ suggest.get_is_interested_display }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    jQuery.noConflict();
    jQuery(document).ready(function($) {
        // Your DataTables initialization code here
        $('#eventsTable').DataTable();
    });
</script>

<script>
    jQuery.noConflict();
    jQuery(document).ready(function($) {
        // Your DataTables initialization code here
        $('#clientlist').DataTable();
    });
</script>

{% endblock %}
