<!-- client_list.html -->

{% extends 'base_event.html' %}

{% block title %}Estates Solutions | Properties{% endblock %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<style>
    .pac-container{
        z-index: 1000000;
    }
    @media (max-width: 767px) {
        .container-content{
            margin: 0;
        }
        .contents{
            width: 100vw !important;
            padding: 0;
            margin-left: 2vw;
        }
        
        .image-container{
            width: 88vw !important;
        }
        .card-text-content{
            width: 88vw !important;
            padding-right: 20px;
        }
        .card-img-left{
            max-width: 70vw !important;
            margin-left: 20px;
        }
        #main-map-container {
            display: none;
        }
        #main-map {
            display: none;
        }
        .properties-list {
            width: 100vw !important;
            height: 80vh !important;
            overflow-y: auto !important; /* Make it scrollable */
            position: fixed !important;
            top: 11vh !important;
            border: var(--border-color-rgba) !important;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        .container-fluid{
            padding-left: 0;
        }
        .container-fluid .row{
            margin-right: 0;
            padding-right: 0;
        }
        .container-content{
            width: 100vw !important;
        }
        .card{
            width: 95vw;
            left: 0;
        }
        .card-body{
            flex-direction: column;
            width: 88vw;
        }
        .cards{
            width: 100vw;
            left: 0;
        }
        .page-actions{
            top: 6vh;
        }
    }
</style>
<div class="row container-header" style="margin-bottom: 20px;">
    <h2 class="col-md-4">Properties</h2>
    <div class="col-md-8 d-flex justify-content-end page-actions" >
        
        <button class="btn btn-outline-primary d-flex align-items-center justify-content-center add-new"  
                data-toggle="modal" data-target="#propertyModal">
                <i class="fas fa-plus"></i>
                <span class="d-none d-md-inline">Add</span>  
        </button>
    </div>
</div>
    
</div>
<style>
    .card-img-left{
        border-radius: 10px;
        max-width: 20vw;
    }
    .image-container{
        width: 20vw;
    }
    .card-text-content{
        width: 20vw;
    }
    .card{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
        margin: 1px;
        border-radius: 10px;
        margin-bottom: 1vh;
    }
    .properties-list{
        height: 78vh;
        width: 50vw;
        overflow-y: auto;
        margin-bottom: 1vh;
    }
    #main-map-container{
        border-radius: 10px;
        width: 37vw;
        height: 78vh;
        margin-left: 1vw;
    }
    #main-map {
        border-radius: 20px;
        
    }
    .properties-list::-webkit-scrollbar {
            width: 12px; /* Adjust the width of the scrollbar */
            margin-right: -12px; /* Move the scrollbar to the left by its width */
    }

    /* Targeting the scrollbar handle or thumb */
    .properties-list::-webkit-scrollbar-thumb {
        background-color: var(--border-color-rgba); /* Color of the scrollbar thumb */
        border-radius: 6px; /* Radius of the scrollbar thumb corners */
    }

    /* Optional: Hover effect on the scrollbar handle */
    .properties-list::-webkit-scrollbar-thumb:hover {
        background-color: var(--border-color-rgba); /* Color when hovering over the scrollbar thumb */
    }

    /* Targeting the scrollbar track when handle is being dragged */
    .properties-list::-webkit-scrollbar-thumb:active {
        background-color: var(--border-color-rgba); /* Color when scrollbar thumb is being dragged */
    }
    .no-properties {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center horizontally */
        justify-content: center; /* Center vertically */
        height: 100%; /* Ensure the div takes up the entire height of its container */
        background: linear-gradient(45deg, var(--color-stripe-rgba) 25%, transparent 25%, transparent 50%, var(--color-stripe-rgba) 50%, var(--color-stripe-rgba) 75%, transparent 75%, transparent);
        background-size: 20px 20px; /* Adjust the size of the stripes */
        border-radius: 10px;
    }
    .no-properties h5{
        margin-bottom: 20px;
        background-color: transparent;
    }
    
</style>
<div class="col-md-12 container-content">
    <div class="row" style="width: 99vw; margin: 0;">
        <div class="row properties-list">
            {% for property in properties %}
                <div class="col-md-12 mb-12 cards" >
                    <div class="card">
                        <div class="card-body d-flex"> <!-- Add d-flex and align-items-stretch classes -->
                            {% if property.images %}
                                <div class="image-container">
                                    <img class="card-img-left flex-shrink-0" src="/media/{{ property.images }}" alt=""> <!-- Add flex-shrink-0 class -->
                                </div>
                            {% endif %}
                            <div style="padding-left: 20px;" class="card-text-content"> <!-- Create a div to hold the card content -->
                                <h5 class="card-title">{{ property.address }}</h5>
                                <p class="card-text">Type: <strong>{{ property.property_type }}</strong></p>
                                <p class="card-text">Total Value: <strong>{{ property.total_price }}</strong></p>
                                <p class="card-text">Interested/Suggested: <strong>{{ property.interested_count }}/{{ property.suggested_count }}</strong></p>
                                <p class="card-text">Tasks: <strong>{{ property.events_completed }}/{{ property.events_incompleted }}</strong></p>
                                <p class="card-text">Listed: <strong>{{ property.listing_date|date:"M. d, Y" }}</strong></p>
                                <p class="card-text">Views: <strong>{{ property.views_count }}</strong></p>
                                
                                <a href="{% url 'property_events' property.id %}" class="btn btn-outline-primary">Show more</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <!-- Display this if there are no properties -->
                <div class="col-md-12 mb-12 no-properties">
                    <h3>There is no Properties</h3>
                    <button class="btn btn-outline-primary d-flex align-items-center justify-content-center"  
                            data-toggle="modal" data-target="#propertyModal">
                            <i class="fas fa-plus"></i>
                            <span class="d-none d-md-inline" style="padding-left:10px">Add a new Property</span>  
                    </button>
                </div>
            {% endfor %}
            {% if properties %}
                <div style="height: 10vh;"></div>
            {% endif %}
            
        </div>
        <div id="main-map-container">
            <div id="main-map" style="height: 100%;"></div>
        </div>
    </div>
    <div class="modal" id="propertyModal" >
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Property</h4>
                    <button data-dismiss="modal" style="background: none; border: none; cursor: pointer;">
                        <span class="material-icons">clear</span>
                    </button>
                </div>
    
                <!-- Modal Body (Your Property Form) -->
                <div class="modal-body" >
                    <!-- Your property form goes here -->
                    <form method="post">
                        {% csrf_token %}
                        <!-- {{ properties_form.as_p }} -->
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-8">
                                <div class="form-group">
                                    {{ properties_form.address.label_tag }}
                                    {{ properties_form.address|add_class:"form-control"  }}
                                    {% for error in properties_form.address.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ properties_form.property_type.label_tag }}
                                    {{ properties_form.property_type|add_class:"form-control"  }}
                                    {% for error in properties_form.property_type.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ properties_form.postal_code.label_tag }}
                                    {{ properties_form.postal_code|add_class:"form-control"  }}
                                    {% for error in properties_form.postal_code.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ properties_form.country.label_tag }}
                                    {{ properties_form.country|add_class:"form-control"  }}
                                    {% for error in properties_form.country.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ properties_form.city.label_tag }}
                                    {{ properties_form.city|add_class:"form-control"  }}
                                    {% for error in properties_form.city.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ properties_form.district.label_tag }}
                                    {{ properties_form.district|add_class:"form-control"  }}
                                    {% for error in properties_form.district.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ properties_form.sub_district.label_tag }}
                                    {{ properties_form.sub_district|add_class:"form-control"  }}
                                    {% for error in properties_form.sub_district.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ properties_form.longitude.label_tag }}
                                    {{ properties_form.longitude|add_class:"form-control"  }}
                                    {% for error in properties_form.longitude.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    {{ properties_form.latitude.label_tag }}
                                    {{ properties_form.latitude|add_class:"form-control"  }}
                                    {% for error in properties_form.latitude.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        

                        <div id="map" style="width: 100%; display: none;"></div>
                        <button type="submit" class="btn btn-outline-primary" style="width: 100%;">Add Property</button>
                    </form>
                    
                    <script>
                        function initAutocomplete() {
                            const mapContainer = document.getElementById("map");
                            const map = new google.maps.Map(document.getElementById("map"), {
                                zoom: 8,
                                mapTypeId: "satellite",
                            });
                
                            const input = document.getElementById("pac-input");
                            const searchBox = new google.maps.places.SearchBox(input);
                            map.addListener("bounds_changed", () => {
                                searchBox.setBounds(map.getBounds());
                            });
                
                            let markers = [];
                
                            searchBox.addListener("places_changed", () => {
                                const places = searchBox.getPlaces();
                                mapContainer.style.display = "block";
                                mapContainer.style.height = "300px";
                                // Clear existing markers on the map
                                markers.forEach(marker => marker.setMap(null));
                                markers = [];
                                
                                if (places.length == 0) {
                                    return;
                                }
                
                                const bounds = new google.maps.LatLngBounds();
                
                                places.forEach((place) => {
                
                                    // Customize marker appearance using a Material Icon
                                    const marker = new google.maps.Marker({
                                        map,
                                        icon: {
                                            url: `https://maps.google.com/mapfiles/ms/icons/${getColor()}-dot.png`, // Replace with your desired Material Icon
                                            scaledSize: new google.maps.Size(30, 30),
                                        },
                                        title: place.name,
                                        position: place.geometry.location,
                                        draggable: true,
                                    });
                
                                    // Listen for the dragend event to get the updated position
                                    marker.addListener("dragend", () => {
                                        const newPosition = marker.getPosition();
                                        const newLatitude = newPosition.lat();
                                        const newLongitude = newPosition.lng();
                                        const geocoder = new google.maps.Geocoder();
                                        const latlng = { lat: newLatitude, lng: newLongitude };

                                        // Update HTML elements with the new position
                                        document.getElementById("longitude").value = newLongitude;
                                        document.getElementById("latitude").value = newLatitude;

                                        // Use Geocoding API to fetch detailed address information
                                        geocoder.geocode({ 'location': latlng }, (results, status) => {
                                            if (status === 'OK') {
                                                if (results[0]) {
                                                    const addressComponents = results[0].address_components;

                                                    // Extract relevant address components
                                                    let region, city, country, district;

                                                    addressComponents.forEach((component) => {
                                                        if (component.types.includes("sublocality_level_1")) {
                                                            sub_district = component.long_name;
                                                        } else if (component.types.includes("locality")) {
                                                            city = component.long_name;
                                                        } else if (component.types.includes("country")) {
                                                            country = component.long_name;
                                                        } else if (component.types.includes("administrative_area_level_2")) {
                                                            district = component.long_name;
                                                        }
                                                    });

                                                    // Update HTML elements with the new position and address components
                                                    document.getElementById("sub_district").value = sub_district;
                                                    document.getElementById("city").value = city;
                                                    document.getElementById("country").value = country;
                                                    document.getElementById("district").value = district;

                                                    // Reverse geocode to get more detailed information about nearby named locations
                                                    geocoder.geocode({ 'location': latlng }, (reverseResults, reverseStatus) => {
                                                        if (reverseStatus === 'OK') {
                                                            if (reverseResults[0]) {
                                                                const nearestNamedAddress = reverseResults[0].formatted_address;

                                                                // Update your input field with the nearest named address
                                                                document.getElementById("pac-input").value = nearestNamedAddress;
                                                            } else {
                                                                console.error('No reverse geocode results found');
                                                            }
                                                        } else {
                                                            console.error('Reverse geocoder failed due to: ' + reverseStatus);
                                                        }
                                                    });
                                                } else {
                                                    console.error('No geocode results found');
                                                }
                                            } else {
                                                console.error('Geocoder failed due to: ' + status);
                                            }
                                        });
                                    });
                
                                    markers.push(marker);
                
                                    if (place.geometry.viewport) {
                                        bounds.union(place.geometry.viewport);
                                    } else {
                                        bounds.extend(place.geometry.location);
                                    }
                
                                    // Extract postal code, city, and country information
                                    const addressComponents = place.address_components;
                                    let postalCode, city, country;
                
                                    addressComponents.forEach((component) => {
                                        if (component.types.includes("postal_code")) {
                                            postalCode = component.short_name;
                                        } else if (component.types.includes("locality")) {
                                            city = component.long_name;
                                        } else if (component.types.includes("country")) {
                                            country = component.long_name;
                                        } else if (component.types.includes("administrative_area_level_2")) {
                                            district = component.long_name;
                                        } else if (component.types.includes("sublocality_level_1")) {
                                            sub_district = component.long_name;
                                        } 
                                    });
                                    // Initialize variables for longitude and latitude
                                    let longitude, latitude;
                
                                    // Extract geometry information
                                    if (place.geometry && place.geometry.location) {
                                        // Retrieve the LatLng object
                                        const location = place.geometry.location;
                
                                        // Extract latitude and longitude
                                        latitude = location.lat();
                                        longitude = location.lng();
                                    }
                                    // Update HTML elements with the retrieved information
                                    document.getElementById("postal_code").value = postalCode;
                                    document.getElementById("city").value = city;
                                    document.getElementById("country").value = country;
                                    document.getElementById("district").value = district;
                                    document.getElementById("sub_district").value = sub_district;
                                    document.getElementById("longitude").value = longitude;
                                    document.getElementById("latitude").value = latitude;
                                });
                
                                map.fitBounds(bounds);
                            });
                        }
                
                        function getColor() {
                            // Add logic to determine the color based on your requirements
                            return "red";
                        }
                
                        window.initAutocomplete = initAutocomplete;
                    </script>
                    
                    
                </div>
    
            </div>
        </div>
    </div>

</div>

<script>
function goBack() {
    window.history.back();
}
</script>


{{ locations|json_script:"locations_json"}}


<script>
    var map = L.map('main-map');
    var tileLayer = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let locations = JSON.parse(document.getElementById('locations_json').textContent);
    
    var markers = [];
    locations.forEach(location => {
        if (location.id) {
            var url = `${location.id}/`;
            var marker = L.marker([location.latitude, location.longitude]).addTo(map);
            // Create a popup with property information and "Show More" button
            var popupContent = "<b>Address:</b> " + location.address + "<br>";
            // Include additional property details if they exist
                if (location.total_rooms) {
                    popupContent += "<b>Total rooms:</b> " + location.total_rooms + "<br>";
                }
                if (location.bedrooms) {
                    popupContent += "<b>Bedrooms:</b> " + location.bedrooms + "<br>";
                }
                
                if (location.total_price) {
                    popupContent += "<b>Total Price:</b> " + location.total_price + "<br>";
                }
                if (location.price_month) {
                    popupContent += "<b>Rental Price:</b> " + location.price_month + "<br>";
                }
                popupContent += `<a href='${url}'>Show more</a>`;
            marker.bindPopup(popupContent);}
            markers.push(marker);
        });
     // Create a feature group from the markers and add it to the map
    var markerGroup = L.featureGroup(markers).addTo(map);

    // Fit the map view to the bounds of the marker group
    map.fitBounds(markerGroup.getBounds());
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/crm/google-maps-script/')  // Replace with the actual path defined in your urls.py
            .then(response => response.json())
            .then(data => {
                const script = document.createElement('script');
                script.innerHTML = data.script;
                document.body.appendChild(script);
            });
    });
</script>
{% endblock %}
