{% extends 'base_event.html' %}

{% block title %}Estates Solutions | Settings{% endblock %}

{% block content %}
<div class="container-header">
    <h1>Settings</h1>
</div>


<div class="container-content">
    <div class="col-md-6">
        <h5>Contacts</h5>
        <div class="card-body">
            <form method="post" action="{% url 'import_google_contacts' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary btn-block" id="importContactsBtn">
                    <i class="fas fa-address-book"></i> Import or Update Google Contacts
                </button>
            </form>
        
            <div class="text-center mt-3" id="loadingIndicator" style="display: none;">
                Importing contacts... Please wait.
            </div>
        
            {% if messages %}
                <ul class="messages mt-3">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="card-body">
            <a href="{% url 'client_status_list' %}" class="btn btn-outline-secondary">
                <i class="fas fa-user-check"></i> Set Client Status
            </a>
        </div>
        <hr>
        <h5>Tasks</h5>
        <div class="card-body">
            <a href="{% url 'event_types_list' %}" class="btn btn-outline-secondary">
                <i class="fas fa-calendar-alt"></i> Set Task Type
            </a>
        </div>
        <hr>
        <h5>Property</h5>
        <div class="card-body">
            <a href="{% url 'property_status_list' %}" class="btn btn-outline-secondary">
                <i class="fas fa-building"></i> Set Property Status
            </a>
        </div>
        <div class="card-body">
            <a href="{% url 'property_type_list' %}" class="btn btn-outline-secondary">
                <i class="fas fa-home"></i> Set Property Type
            </a>
        </div>
        <div class="card-body">
            <a href="{% url 'property_deal_type_list' %}" class="btn btn-outline-secondary">
                <i class="fas fa-handshake"></i> Set Property Deal Type
            </a>
        </div>
        <hr>
        <h5>Others</h5>
        <div class="card-body">
            <a href="{% url 'suggestions_link_settings' %}" class="btn btn-outline-secondary">
                <i class="fas fa-cogs"></i> Setup Suggestions headers
            </a>
        </div>
        <div class="card-body">
            <a href="{% url 'profile' %}" class="btn btn-outline-secondary">
                <i class="fas fa-user"></i> My Profile
            </a>
        </div>
        
        <div class="card-body">
            <a href="{% url 'subscriptions' %}" class="btn btn-outline-secondary">
                <i class="fas fa-shopping-cart"></i> Buy Subscription
            </a>
        </div>
        
    </div>
</div>

<script>
    document.getElementById('importContactsBtn').addEventListener('click', function() {
        document.getElementById('loadingIndicator').style.display = 'block';
    });
</script>

{% endblock %}
