<!-- suggestions_link_setup.html -->
{% extends 'base_event.html' %}

{% block title %}Suggestion link headers {% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="col-md-12">
    <h2 class="mb-4">Suggestion link headers</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="form-group">
                {{ form.contacts.label_tag }}
                {{ form.contacts|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.welcome_message.label_tag }}
                {{ form.welcome_message|add_class:"form-control" }}
            </div>
        </div>
        
        <div class="mt-auto" style="justify-content: center; align-items: center;">
            <button type="submit" class="btn btn-outline-primary" style="width: 100%; margin-top: 20px; ">Save</button>
            <a href="#" class="btn btn-secondary mt-md-0 mt-3" onclick="goBack()" style="width: 100%; margin-top: 20px; margin-bottom: 20px;">Back</a>
        </div>
    </form>
</div>

<script>
    function goBack() {
    window.history.back();
}
</script>
{% endblock %}
