<!-- accounts/templates/accounts/base_account.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Account{% endblock %}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom styles if needed -->
    <style>
        /* Add your custom styles here */
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            width: 100%;
        }

        form {
            width: 400px;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <div style="top: 30px; left: 30px; position: absolute;">
        <h1>Estates.</h1>
        <h2>Solutions</h2>
    </div>
    <div class="row justify-content-center">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
