{% extends 'base_account.html' %}

{% block title %}Reset Password{% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="container" style="width: 80vw;">
    <h3>Password reset</h3>

    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <form class="form" method="POST">
        {% csrf_token %}
        <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
        <button type="submit" class="btn btn-outline-primary" style="width: 100%; margin-top: 20px; margin-bottom: 10px; ">Reset</button>
        
    </form>
</div>
{% endblock %}